{{ template "header.html"}}
  <div style="background-color: #41688f;"  class="flex justify-center items-center h-screen bg-aquamarine">
    <div  style="background-color: #F1F5F9;" class="hadow-lg rounded-lg p-8 shadow-xl">
      <div class="flex justify-center">
        <div class="px-6 pb-4">
          <h2 class="text-2xl font-semibold mb-6 text-gray-600">SSO using Auth0</h2>
        </div>
      </div>

      <div class="flex justify-center">
        <div class="px-6 pb-4">
          <span className="flex items-center">
            <img src="/public/img/password.png" alt="" class="h-40 w-40">
          </span>
        </div>
      </div>

      <div class="flex justify-center">
        <div class="px-6 pb-4">
          <span className="flex items-center">
            <a href="/login" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full w-ful">Sign In with Google <i class="fa-brands fa-google"></i></a>
          </span>
        </div>
      </div>


      
    </div>
  </div>
{{ template "footer.html"}}